.home-container {
    padding: 20px;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    max-height: 700px;
  }
  .dark-mode .home-container {
    background: linear-gradient(to right, #1a1a1a, #333);
  }
  .input-icon {
    align-items: center;
    padding-right: 20px;
    width: 24px;
    height: 24px;
  }
  .flex-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 700px;
    justify-content: center;
  }
  
  .flex-box::-webkit-scrollbar {
    width: 1px;
  }
  
  .flex-box::-webkit-scrollbar-track {
    background: #d9d9d9;
  }
  
  .flex-box::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 10px;
  }
  
  .flex-box::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
  }
  
  .machine-box {
    flex: 1 1 25%;
    /* background: linear-gradient(to right, #0d6efd, #0dcaf0); */
    border: 1px solid #c2c2c2;
    width: 100%;
    max-width: 420px;
    min-width: 420px;
    overflow: hidden;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    width: calc(25% - 20px);
    height: auto;
    /* padding: 5px; */
  }
  
  .machine-box::-webkit-scrollbar {
    width: 0px;
  }
  
  /* .machine-box.open {
    max-height: none;
  } */
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .machine-box.zoomed {
    position: sticky;
    transform: translateY(10px) scale(1.5);
    width: 100%;
    height: 100%;
    z-index: 102;
    overflow: auto;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }
  
  .machine-box.zoomed::-webkit-scrollbar {
    width: 0px;
  }
  
  .machine-box.zoomed::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.95);
  }
  
  .machine-box.zoomed::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.95);
  }
  
  .machine-box.zoomed::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
  }
  
  .machine-box.zoomed .machine-header {
    justify-content: space-between;
  }
  
  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image-item {
    flex: 1 1 calc(33.33% - 20px); 
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .image-item {
      flex: 1 1 calc(50% - 20px); 
    }
  }
  .image-item img,video {
    width: 100%;
    height: auto;
    margin-bottom: auto;
    border-radius: 4px;
  }
  .image-item.inactive video {
    filter: blur(4px);
  }
  .image-item.inactive img {
    filter: blur(4px);
  }
    .image-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .image-item.inactive img {
    filter: blur(4px);
  }
  .image-item label {
    display: block;
    cursor: pointer;
  }
  
  .image-item button:hover {
    background-color: #5b5b5b;
  }
  .confirmation-dropdown {
    margin: 20px 0;
  }
  .confirmation-modal {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 102;
  }
  .input-wrapper{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: calc(100% - 20px);
  }

  .time-frame-modal {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 102;
  }

  /* .info-modal {
    transform: translate(0%, 5%);
    position: absolute;
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 103;
  } */
  .info-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 103;
    padding: 10px;
    display: none; 
  }
  
  .info-dropdown.open {
    display: block;
  }
  
  .machine-header {
    position: relative;
  }
  .cancel-button {
    background-color: #b33c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .confirm-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .cancel-button:hover {
    background-color: #a32b2b;
  }
  .status-indicator {
    margin-right: auto;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .status-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
    white-space: nowrap;
  }
  
  .dropdown-indicator {
    cursor: pointer;
    padding: 20px;
    text-align: center;
    background: #ececec;;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: transform 0.2s ease;
  }
  
  .dropdown-indicator:hover {
    transform: scale(1.05);
    background: #b2b2b2;
  }
  
  .machine-box.open {
    max-height: none;
    transition: max-height 0.3s ease-in;
    max-height: 400px;
    overflow-y: auto;

  }
  .machine-header {
    display: flex;
    background: linear-gradient(to right, #0d6efd, #0dcaf0);
    color: white;
    padding: 10px;
    cursor: pointer;
    flex-wrap: wrap;
  }
 .dark-mode .machine-header {
    background: linear-gradient(to right, #1a1a1a, #333);
    color: #f0f0f0;
  }
  .dark-mode .dropdown-indicator{
    background: #333;
  }
  .dark-mode .dropdown-indicator:hover {
    transform: scale(1.05);
    background: #5e5e5e;
  }
/* .dark-mode .machine-box {
    background: linear-gradient(to right, #1a1a1a, #333);
    border: 1px solid #c2c2c2;

  } */
  .account-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .account-li {
    display: block;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .account-details {
    flex-grow: 1;
  }
  .account-ul{
    max-height: 400px;
    overflow-y: auto;
  }
  .button-player {
    padding: 10px;
    font-size: 16px;
    color: white ;
    /* background: linear-gradient(to right, #0d6efd, #0dcaf0); */
    background: #0d6efd;
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    border: white solid 1px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .button-player:hover{
    scale: 1.05;
  }
  .button-player:active{
    background-color: #1a1a1a;
  }
  .dark-mode .button-player{
    background: linear-gradient(to right, #1a1a1a, #333);
    color: white;
  }
  .label-button-container {
    display: flex;
  }
  
  .label-button-container label {
    margin-bottom: 5px;
  }
  
  .select-container {
    display: flex;
  }
  .select-container label:first-child {
    margin-right: auto;
  }
  .select-container label {
    margin-right: 10px;
    padding-top: 10px;
  }
  
  .select-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .player-info {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: flex-start;
  }